<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_hestia"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_hestia"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hestiaapp"
        tools:targetApi="31">
        <activity
            android:name=".DashboardInformacoes"
            android:exported="false" />
        <activity
            android:name=".presentation.view.FormularioUniversitarioActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilUniversitario"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilAnunciante"
            android:exported="false" />
        <activity
            android:name=".presentation.view.Notificacao_item"
            android:exported="false" />
        <activity
            android:name=".presentation.view.Configuracoes"
            android:exported="false" />
        <activity
            android:name=".presentation.view.Filtros"
            android:exported="false" />
        <activity
            android:name=".presentation.view.Estatisticas"
            android:exported="false" />
        <activity
            android:name=".presentation.view.Notificacoes"
            android:exported="false" />
        <activity
            android:name=".presentation.view.PremiumScreenAnunciante"
            android:exported="false" />
        <activity
            android:name=".presentation.view.EscolherUsuario"
            android:exported="false" />
        <activity
            android:name=".presentation.view.MainActivityNavbar"
            android:exported="false" />
        <activity
            android:name=".presentation.view.camera.FotoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.MoradiaItem"
            android:exported="false" />
        <activity
            android:name=".presentation.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.UserTerms"
            android:exported="false" />
        <activity
            android:name=".presentation.view.swipe.PreviewScreensExplanation"
            android:exported="false" />
        <activity
            android:name=".presentation.view.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>